<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Students</title>
</head>
<body>
  <nav>
    <a href="/students">Students</a>
    <a href="/students/new">Add Students</a>
  </nav>
  <%= yield %>
</body>
</html>